node_modules/
dist/
.env
coverage/
*.log
.next/
out/
build/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.DS_Store
*.pem
.env*
!.env.example
.vercel
*.tsbuildinfo
next-env.d.ts
.turbo/